:root {
  --cor-1: #e23e57;
  --cor-2: #ffffff;
  --cor-3: #e96a7e;
  --cor-4: #ce1f3a;
  --cor-5: #e6e6e6;
  --cor-6: #ef97a4;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: var(--cor-1);
}

.body-container {
  color: var(--cor-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;
  text-align: center;
}

.titulo {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.subtitulo, .invitation {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.image-container {
  width: 100%;
  max-width: 100px;
  margin-bottom: 30px;
}

.farmacia-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.conteudos-exclusivos {
  margin-top: 40px; /* Espaço acima da div */
  padding: 20px; /* Espaçamento interno */
  background-color: var(--cor-2); /* Cor de fundo opcional */
  border-radius: 8px; /* Arredonda os cantos */
  color: var(--cor-4); /* Altera a cor do texto */
  font-size: large;
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center; /* Alinha os itens ao centro, se necessário */


}

button {
  background-color: var(--cor-3);
  color: var(--cor-2);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: var(--cor-4);
  transform: scale(1.05);
}

.imagem-camiseta {
  margin-top: 20px; /* Espaço acima da imagem */
  width: 100%; /* Ajusta a largura da imagem */
  max-width: 300px; /* Define uma largura máxima */
  border-radius: 10px; /* Arredonda os cantos */
}
