.header-container {
    background-color: var(--cor-2); 
    color: var(--cor-4);
    border-bottom: 2px solid var(--cor-1);
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    padding: 10px;
}

.header-container img {
    height: auto; 
    width: 150px; 
    margin-right: 10px; 
}

.header-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    font-size: xx-large;
    flex-grow: 1; /* Permite que o h1 ocupe o espaço restante */
    text-align: center; /* Centraliza o texto do título */
}

.header-container button {
    background-color: var(--cor-3); /* Cor de fundo do botão */
    color: var(--cor-2); /* Cor do texto do botão */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Estilo do botão */
    cursor: pointer; /* Mostra que é clicável */
    border-radius: 5px; /* Arredonda os cantos do botão */
    margin-left: 10px; /* Adiciona espaçamento à esquerda dos botões */
}
