:root {
    --cor-1: #e23e57; 
    --cor-2: #ffffff;
    --cor-3: #e96a7e; 
    --cor-4: #ce1f3a; 
    --cor-5: #e6e6e6; 
    --cor-6: #ef97a4; 
}
  
.header-container {
    background-color: var(--cor-2); 
    color: var(--cor-4);
    border-bottom: 2px solid var(--cor-1);
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    padding: 10px;
}

.header-container img {
    height: 100px; 
    width: 100px; 
    margin-right: 10px; 
}

.header-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    font-size: xx-large;
    flex-grow: 1; /* Permite que o título ocupe o espaço restante */
    text-align: center; /* Centraliza o texto do título */
}

.senha {
    background-color: var(--cor-3); /* Cor de fundo do botão */
    color: var(--cor-2); /* Cor do texto do botão */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Estilo do botão */
    cursor: pointer; /* Mostra que é clicável */
    border-radius: 5px; /* Arredonda os cantos do botão */
    margin-left: auto; /* Empurra o botão para a direita */
}
